

.container {
  display: flex;
  width: 1200px;
  height: 320px;
  background-color: #ffd62a;
  justify-content: center;
}

.item {
  width: 100px;
  height: 100px;
  align-self: center;
}

.purple {
  background-color: #b02aff;
}