th{
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 10px;
}

table{
  border: 1px solid black;
}

tr:nth-child(odd){
  background-color: rgb(161, 156, 150);
  color: black;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: white;
  color: black;
  border: 1px solid black;
}