<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<title>Cocktails</title>

<body>
  <h1>Welcome to my bar, bitches!</h1>
  
  <p> <% for (let i=0; i< alcoholList.length; i++){ %> 
      <%= alcoholList[i] %>
      <% } %>
  </p>
  <table style="width:60%">
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
      <% for (let i=0; i< cocktails.length; i++){ %>
    <tr>
      <td><%= cocktails[i].name %>
        <% if (cocktails[i].isAlcoholic === false){ %>
              (non-alcoholic)
        <% } %>
        <br><%= cocktails[i].contains %></td>
      <td><%= cocktails[i].price + " Ft" %></td>
    </tr>
      <% } %>
  </table>
</body>

</html>