<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <link rel="stylesheet" type="text/css" href="styles2.css" />
  <!-- <script type="text/javascript" src="index.js"></script> -->
  <title>Gallery Project</title>
</head>

<body>
  <div class="container">
    <div class="arrow left">
      <img src="assets/arrow.svg" alt="arrow left">
    </div>
    <div class="item middle">
      <ul>
        <% for (let i=0; i< images.length; i++){ %>
        <li><img src="<%=images[i]%>"></li>
        <%}%>
            </ul>
      </div>
      <div class="arrow right">
          <img src="assets/arrow.svg" alt="arrow right">
      </div>
    </div>
  </body>

</html>